{{!< default}}
{{#post}}
<article class="post-article">
  <div class="post-meta">VIEWING: {{slug}}.TXT | {{date published_at format="YY/MM/DD"}} | {{reading_time}} read</div>
  <h1 class="post-title">{{title}}</h1>
  <hr class="separator" />
  <div class="post-content">
    {{content}}
  </div>
  <hr class="separator" />
  <div class="post-meta">[P]REVIOUS  [N]EXT  [H]OME</div>
</article>
{{/post}}
